extends layoutBS

block content
  h1.underline Add a book to sell!
  h2 There are currently #{addBooks.length} books on sale!
  p This page has been visited #{counter} times since last reset
  br
  br
  h2 Here are the books currently on sale
  table.table.table-bordered.table-striped
    tbody
      each item in addBooks
        //- let url = item.url
        tr
          td
            |#{item.quantity}
          td
            |#{item.bookName}
          td
            |#{item.courses}
          td
            |#{item.coverType}
          td
            |#{item.condition}
          td
            |#{item.lowestPrice}
          td
            |#{item.seller}
  br
  br
  form(method="post" action="/allBooks/addBooks")
    br
    input(type="text" name="quantity" placeholder="Quantity")
    br
    input(type="text" name="bookName" placeholder="Book Name")
    br
    input(type="text" name="courses" placeholder="Courses")
    br
    | Cover Type --
    select(name="coverType")
      each val in coverType
        option #{val.type}
    br
    | Condition --
    select(name="condition")
      each val in condition
        option #{val.degree}
    br
    input(type="text" name="lowestPrice" placeholder="Lowest Price")
    br
    input(type="text" name="seller" placeholder="Seller")
    br
    button(type='submit') Submit
