extends layoutBS

block content
  body.bc
  br
  h1.big.mono.deisBlue.leftBorder.underline All Available Books
  //h2 Here are the books currently on sale
  table.table.table-bordered.table-striped.leftBorder
    tbody
      tr
        td.underline
          | Quantity
        td.underline
          | Book Name
        td.underline
          | Courses
        td.underline
          | Cover Type
        td.underline
          | Condition
        td.underline
          | Lowest Price
        td.underline
          | Seller
      each item in addBooks
        //- let url = item.url
        tr
          td
            |#{item.quantity}
          td
            |#{item.bookName}
          td
            |#{item.courses}
          td
            |#{item.coverType}
          td
            |#{item.condition}
          td
            |#{item.lowestPrice}
          td
            |#{item.seller}
  a.nav-link.active.leftBorder(href="/allBooks/addBooks") Add a book!
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
