extends layoutBS

block content
  body
  .container.blueBC
    br
    br
    h1.leftBorder.white List of All Books
    //table.table.table-bordered.whiteBC
      //tbody
    form(method="post" action="addCart")
      table.table.table-bordered
        thead
          tr.blueBC.white
            if loggedIn
              th Add?
            th quantity
            th Book Name
            th Courses
            th Cover type
            th condition
            th Lowest Price
            if loggedIn
              td.underline
                | Seller
          each addBook in addBooks
            //- let url = item.url
            tr.whiteBC.deisBlue
              if loggedIn
                td
                  input(name="addBookID" value=u_id type="checkbox")
              td #{addBook.quantity}
              td #{addBook.bookName}
              td #{addBook.courses}
              td #{addBook.coverType}
              td #{addBook.condition}
              td #{addBook.lowestPrice}
              if loggedIn
                td
                  |#{addBook.seller}
    //p #{user.googleemail}
    br
    input(type="submit" value="Add to Cart")
    br
    br
    hr
    br
    h1.underline.leftBorder.white Remove a book!
    form.leftBorder.white(method="post" action="deleteBook")
      ol
        each addBook in addBooks
          li
            input(name="deleteQuantity" value=addBook.quantity type="checkbox")
            e   #{addBook.quantity}  |
            i   #{addBook.bookName}  |
            e   #{addBook.courses}  |
            i   #{addBook.coverType}  |
            e   #{addBook.condition}  |
            i   #{addBook.lowestPrice}  |
            e   #{addBook.seller}
      input(type="submit" value="Delete checked items")
    br
    br
    br
